@{
    ViewData["Title"] = "Backer Page";
}
@model List<RegenTry3.Model.Project>


<div class="text-center">


    <h1 class="display-4">Hello @TempData["Username"]! </h1>

</div>

<div>

    <div>

        <p> This is the home page for projects </p>
        @using (Html.BeginForm("BackerIndex", "Project", FormMethod.Post))
        {
            <label for="categories">Short by category:</label>
            @*<select onchange="this.form.submit()" name="category" id="category">*@
            <select name="category" id="category">
                <option value=0>--</option>
                <option value=1>COMICS</option>
                <option value=2>DESIGN</option>
                <option value=3>FILM</option>
                <option value=4>FOOD</option>
                <option value=5>GAMES</option>
                <option value=6>MUSIC</option>
            </select>
            <input class="btn btn-success btn-sm mb-2" type="submit" value="View" />


        }
    </div>

    <div>
        <form action="/Project/BackerIndex">
            or Search by Name:
            <input type="text" placeholder="Type your Text here" name="search">
            <button type="submit"><i class="fa fa-search"> </i>Search</button>
        </form>

        @*<div class="vertical-center"> Show: </div>

        <form action="/Project/BackerOwnedIndex" method="post" onchange=" ">
            <dp>All Projects</dp> <input type="range" id="vol" default="0" name="vol" min="0" max="1" step="1">    <dp>My Projects</dp>

        </form>*@

        @*<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            <option value="">Select...</option>
            <option value="/Project/BackerIndex">All Projects</option>
            <option value="/Project/BackerOwnedIndex">My projecs</option>
        </select>*@
    <div>
        <a href="/Project/BackerIndex">
            <button class="btn btn-success btn-sm mb-2">All Projects</button>
        </a>
    
        <a href="/Project/BackerOwnedIndex">
            <button class="btn btn-success btn-sm mb-2">My Projects</button>
        </a>
    </div>

    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Post</th>
                <th>Photos</th>
                <th>Videos</th>
                @*<th>TODO: Creator Name</th>*@

            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {

            <tr>
                <td> <a href="/project/get/@project.Id" data-toogles="tooltip" title="View Project"> @project.Title</a> </td>
                <td>   @project.Description  </td>
                <td>   @project.Category  </td>
                @* @if (project.Photos != null)
        {
            <td>   @project.Photos  </td>
        }*@

                <td> @project.Posts</td>
                @if (project.Photos != null)
                {
                    <td>  <img src="/images/@project.Photos" title="Project image" width="160" height="160" /> </td>
                }

                @if (project.Photos == null)
                {
                    <td style="padding-right: 10px"> No Photos  </td>
                }
                @*   @if (project.Photos == null)
        {
            <td style="padding-right: 10px">   </td>
        }*@
                @if (project.Videos == null)
                {
                    <td style="padding-right: 10px"> No Videos  </td>
                }
                @if (project.Videos != null)
                {
                    <td> <iframe width="280" height="160" src=@project.Videos title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </td>
                }
                @*<td>   @project.Creator.Username  </td>*@

            </tr>

            }
        </tbody>
    </table>

</div>
