@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RegenTry3Mvc.Models.ProjectReward
@using RegenTry3Mvc.Models


<div class="d-flex justify-content-center">
    <h1> Project @Model.Project.Title</h1>
</div>

@if (@TempData["Role"].ToString() == "Creator")
{
    <div class="m-3">
        <a href="/Reward/Create/?ProjectId=@Model.Project.Id" class="btn btn-info" role="button">Add Reward</a>
    </div>
}

<table class="table">
    <tr><td><b>Description</b></td> <td>@Model.Project.Description</td></tr>
    <tr>
        <td><b>Post</b></td>
        <td>@Model.Project.Posts</td>
        @if (@TempData["Role"].ToString() == "Creator")
        {
            <td><a href="/project/updatepost/@Model.Project.Id" data-toogles="tooltip" title="Update Post" class="btn btn-info" role="button">Update post</a></td>
        }
    </tr>

    <tr>
        <td><b>Photo</b></td>
        @if (@Model.Project.Photos != null)
        {
            <td>  <img src="/images/@Model.Project.Photos" title="Project image" width="315" height="315" /> </td>
        }

    </tr>

    <tr>
        <td><b>Video</b></td>
        @if (@Model.Project.Videos != null)
        {
            <td> <iframe width="560" height="315" src=@Model.Project.Videos title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </td>
        }
    </tr>


    <tr>

        <td><b>Rewards</b></td>
        <td>
            <div class="d-flex justify-content-center">
                @foreach (var item in Model.Rewards)
                {
                    <div class="card mr-2" style="width: 18rem;">
                        <img class="card-img-top  " src="https://completenetworkgear.com/pub/static/version1625654110/frontend/Magento/luma/en_US/Mageplaza_RewardPoints/images/default/customers-get-reward-points.png" width="200" height="210">
                        <div class="card-body">
                            <b>@Html.DisplayFor(modelItem => item.Title)</b>
                            @Html.DisplayFor(modelItem => item.Price)
                        </div>

                        
                          @if (@TempData["Role"].ToString() == "Backer"){<form asp-action="Get">                 
          
            
                    @*<div>prepei to value na ginetai iso me item.Price*@
                    <div>
                        <input value="@item.Price" type="hidden" id="value" class="form-control">
                    </div>
                    
                        <div class="form-group">
                            <input type="submit" value="Select reward" class="btn btn-primary" />
                        </div>
                        
                        </form>}
                        
                        
                    </div>
                }
            </div>
        </td>
    </tr>
            @if (@TempData["Role"].ToString() == "Backer")

            {
    <tr>
        <td><b>Fund the Project</b></td>
        <td>
                <form asp-action="Get">
                    <div>
                        <input name="value" id="value" class="form-control">
                    </div>
                    <td><div class="form-group">
                        <input type="submit" value="Fund" class="btn btn-primary" />
                        </div></td>
                     
                </form>

        </td>
    </tr>
            }
    @*<table class="table">
        <thead>
        <tr>
        <th>Reward</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var reward in Model.Rewards)
        {

        <tr>
        <td> @reward.Title </td>
        <td> @reward.Description </td>
        <td> @reward.Price  &euro; </td>
        </tr>
        }
        </tbody>
        </table>*@


</table>


