@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RegenTry3.Model.Project



<div class="d-flex justify-content-center">
    <h1> Project @Model.Title</h1>
</div>
<div class="m-3">
    <a href="/Reward/Create/?ProjectId=@Model.Id" class="btn btn-info" role="button">Add Reward</a>
</div>

<table class="table">
    <tr><td><b>Description</b></td> <td>@Model.Description</td></tr>
    <tr><td><b>Post</b></td>   <td>@Model.Posts</td> <td><a href="/project/updatepost/@Model.Id" data-toogles="tooltip" title="Update Post" class="btn btn-info" role="button">Update post</a></td></tr>

    <tr>
        <td><b>Photos</b></td>
        @if (@Model.Photos != null)
        {
            <td>  <img src="/images/@Model.Photos" title="Project image" width="100px" height="100px" /> </td>
        }

    </tr>

    <tr>
        <td><b>Videos</b></td>
        @if (@Model.Videos != null)
        {
            <td> <iframe width="360" height="240" src=@Model.Videos title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </td>
        }
    </tr>
    



    <tr><td><b>Rewards</b></td>   <td>@Model.Rewards</td></tr>

  @*  <table class="table">
            <thead>
                <tr>
                    <th>Reward</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.Rewards)
                {

                <tr>
                    <td> @project.Title </td>
                    <td> @project.Description </td>
                    <td> @project.Price  &euro; </td>
                </tr>
                }
            </tbody>
        </table>*@


</table>


