@{
    ViewData["Title"] = "Creator Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Creator</h1>

    <a href="/Project/Create/" class="btn btn-info" role="button">Add New Project</a>
</div>

    <div>

        <div>
            <label for="categories">Short by category:</label>

            <select name="categories" id="categories">
                <option value="all">--</option>
                <option value="COMICS">COMICS</option>
                <option value="DESIGN">DESIGN</option>
                <option value="FILM">FILM</option>
                <option value="FOOD">FOOD</option>
                <option value="GAMES">GAMES</option>
                <option value="MUSIC">MUSIC</option>
            </select>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Photos</th>
                    <th>Videos</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {

                    <tr>
                        <td> <a href="/project/get/@project.Id"> @project.Title</a> </td>
                        <td>   @project.Description  </td>
                        <td>   @project.Category  </td>
                        <td>   @project.Photos  </td>
                        <td>   @project.Videos  </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
