@{
    ViewData["Title"] = "Creator Page";
}
@model List<RegenTry3.Model.Project>


<div class="text-center">


    <h1 class="display-4"> @TempData["Username"]'s Projects </h1>

    <a href="/Project/Create/" class="btn btn-info" role="button">Add New Project</a>
</div>

<div>

    <div>

        <p> This is the home page for projects </p>
        @using (Html.BeginForm("Index", "Project", FormMethod.Post))
        {
            <label for="categoies">Short by category:</label>
            @*<select onchange="this.form.submit()" name="category" id="category">*@
            <select name="category" id="category">
                <option value=0>--</option>
                <option value=1>COMICS</option>
                <option value=2>DESIGN</option>
                <option value=3>FILM</option>
                <option value=4>FOOD</option>
                <option value=5>GAMES</option>
                <option value=6>MUSIC</option>
            </select>
            <input type="submit" value="View" />
        }
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Photos Url</th>
                <th>Photos</th>
                <th>Videos</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {

                <tr>
                    <td> <a href="/project/get/@project.Id"> @project.Title</a> </td>
                    <td>   @project.Description  </td>
                    <td>   @project.Category  </td>
                    <td>   @project.Photos  </td>
                    @if (project.Photos != null)
                    {
                        <td>  <img src="/images/@project.Photos" title="Project image" width="100px" height="100px" /> </td>
                    }




                    @*<td>   @project.Photos </td>*@


                </tr>

            }
        </tbody>
    </table>

</div>
